//reset
* {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    background-color: $color-bg;
    font-family: $font-def;
}
a {
    text-decoration: none;
    color: $color-hili;
}
ul {
    padding-left: $padding-def;
}
li {
    padding: 4px;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
//Flex wrapper for any tag that wraps
.wrapper {
    display: flex;
}