//
nav {
    z-index: 2;
    background-color: $color-primary;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $boxshadow-dark;
    justify-content: center;
    .navbar {
        justify-content: center;
        width: 100%;
        max-width: 1280px;
        align-items: center;
        
    }
    .navitems {
        justify-content: flex-end;
        align-items: center;
        a {
            margin: $margin-def;
            font-family: $font-def;
            font-size: $fontsize-navitem;
            color: $color-secondary;
            text-decoration: none;
        }
        
    }
    .logo {
        height: 32px;
        margin: $margin-def;
            
        }
}