.parties {
    background: $color-secondary;
    padding: $padding-def 0;
    a {
        width: 100%;
        text-align: right;
    }
    .description {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .party-letter {
        margin: $margin-def;
        font-weight: bold;
        flex: 1 0 0;
    }
    .party-name {
        flex: 1 0 0;
        text-align: center;
    }
    .about-button {
        margin: $margin-def;
        text-align: right;
        flex: 1 0 0;
        img {
            width: 24px;
            height: 24px;
        }
    }
    .active {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }
    .about {
        padding: $padding-def 0;
        border-top: 0.5px solid rgba(0, 0, 0, 0.15);
        width: 100%;
        align-self: flex-end;
        background: $color-bg;
        div {
            width: 100%;
            padding: 0 $padding-def;
            font-size: $fontsize-p;
            a {
                text-align: right;
            }
        }
    }
}
.party {
    border-top: 0.5px solid rgba(0, 0, 0, 0.15);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.15);
}
.res {
    margin: $margin-def;
    text-align: right;
    flex: 1 0 0;
}
.dif-pos {
    color: #4caf50;
}
.dif-neg {
    color: #f44336;
}