#reminder {
    background-color: $color-hili;
    color: $color-secondary;
    padding: $padding-def;
    text-align: center;
    border-radius: 0 0 $borderradius-med $borderradius-med;
    border: 0px;
    h1 {
        color: $color-secondary;
    }
    h2 {
        color: $color-secondary;
    }
    p {
    }
    button {
        background-color: $color-secondary;
        color: $color-hili;
        font-size: $fontsize-p;
        padding: $padding-def;
        margin: $margin-def;
        border-radius: $borderradius-big;
        border: 0px;
    }
    form {
        text-align: center;
        input#submit {
            background:none;
            border:none;
            font-size:1em;
            color:blue;
            padding: padding-def;
        }
    }
    
}

//Modal container(the background)
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0,0,0,0.4);
}
//Modal content
.modal-content {
    position: relative;
    background-color: $color-secondary;
    margin: auto;
    padding: 0;
    border-radius: $borderradius-med;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    
}
// Add Animation
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $color-primary;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    border-radius: $borderradius-med $borderradius-med 0 0;
    background-color: $color-hili;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}
#submit {
    background-color: $color-hili;
    color: $color-secondary;
}
