#reminder {
    background-color: $color-hili;
    color: $color-secondary;
    padding: $padding-def;
    text-align: center;
    border-radius: 0 0 $borderradius-med $borderradius-med;
    border: 0px;
    h2 {
        color: $color-secondary;
    }
    p {
    }
    button {
        background-color: $color-secondary;
        color: $color-hili;
        font-size: $fontsize-p;
        padding: $padding-def;
        margin: $margin-def;
        border-radius: $borderradius-big;
        border: 0px;
    }
    form {
        text-align: center;
        input#submit {
            background:none;
            border:none;
            font-size:1em;
            color:blue;
            padding: padding-def;
        }
    }
    
}
